body{
  background-image: ur1('07-시드니 오페라 하우스-A-2024년9월-달력배경화면.png');
  background-size: cover;
  background-image: center;
  margin:0;
  font-family: Arial, sans-serify;
}
.styled-button{
  background-color:#4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  front-size:16px;
  margin:4px 2px;
  cursor: pointer;
  border-radius: 12px;
  box-shadox: 0 4px #999;
}

.styled-button:hover{
  background-color:#4CAF49;
  box-shadox: 0 4px #666;
  transform:translater(4px);
}

.container{
  display: flex;
  justify-content: center;
  align-item: center;
  helight: 100vh;
  flex-direction: colum;
}

h1{
  color:white;
  margin-bottom: 20px;
}
